# Git files
.git
.gitignore
.github

# Rust build artifacts
target/
Cargo.lock

# Documentation
*.md
CHANGELOG
CONCEPT.md
LICENSE

# Environment files
.env
.env.example

# Scripts
scripts/

# Node files
package.json
node_modules/
